footer
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    footer
    h4 Jonathan Moran Cabrejas
    p © 2025 - Todos los derechos reservados
    a(href="https://github.com/jonha20", target="_blank")
        i(class="fab fa-github") GitHub