doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/style.css")
        title Home 
        body
            include ./header.pug
            main
                h1 Welcome to the Home Page
                p This is the home page of our website.
                p Here you can find information about our products and services.
                p If you have any questions, feel free to contact us.
                p We are here to help you with anything you need.
                p Thank you for visiting our website.
                p We hope you have a great experience.
                p If you have any feedback, please let us know.
            include ./footer.pug